<div class="panel-heading">
    <h4>{{!<i class="fa fa-tags"></i>}} {{gettext 'Actities'}}</h4>
</div>
<div class="panel-body">
    <div>
        <ul class="list">
        </ul>
    </div>
    <div class="prompt">
        <div class="loading"><p>{{gettext 'Now Loading The Data'}}</p></div>
        <div class="non-items"><p>{{gettext 'No Recent Activity'}}</p></div>
    </div>
    <p style="text-center"><a class="more" href="/"><i class="fa fa-arrow-circle-down"></i> more</a></p>
</div>