<div class="container agenthome">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div id="pie-chart-div" class="panel panel-content ticket-total">
            </div>
            {{!--<div id="activies" class="panel panel-content activies">
            </div>--}}
        </div>
        <div class="col-lg-6 col-md-6">
            <div id="information" class="panel panel-sidebar information">
            </div>
        </div>
    </div>
</div>
