<div class="container agenthome">
    <div class="row">
        <div class="col-lg-9 col-md-9">
            <div id="tickets-total" class="panel panel-content ticket-total">
            </div>
            <div id="activies" class="panel panel-content activies">
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div id="information" class="panel panel-sidebar information">
            </div>
        </div>
    </div>
</div>
