.agent-authority{
    table#agent-authority-table{
        thead{
            font-weight: bolder;
            background-color: #eee;
            tr{
                td{
                    &.pick-all{
                        text-align: center;
                    }
                }
            }
        }
        tr{
            td{
                vertical-align: middle;
                border: none;
                &.pick{
                    text-align: center;
                }
                &.memo{
                    .memo-container{
                        width: 100px;
                        display: inline-block;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}
.dev{
    select#dev-types{
        width: 30%;
    }
    table.dev-table{
        thead{
            font-weight: bolder;
            background-color: #eee;
        }
        tr{
            td{
                vertical-align: middle;
                border: none;
                &.last-td{
                    width: 20%;
                }
            }
        }
    }
}
.dept{
    table.dept-table{
        thead{
            font-weight: bolder;
            background-color: #eee;
        }
        tr{
            td{
                vertical-align: middle;
                border: none;
            }
        }
    }
}
.dept-dev{
    table.dept-dev-table{
        thead{
            font-weight: bolder;
            background-color: #eee;
        }
        tr{
            td{
                vertical-align: middle;
                border: none;
            }
        }
    }
}
.dept-dev-pop{
    #dev-types{
        width: 30%;
    }
    table.dept-dev-pop-table{
        thead{
            font-weight: bolder;
            background-color: #eee;
        }
        tr{
            td{
                vertical-align: middle;
                border: none;
            }
        }
    }
}
