.agent-authority {
    table#agent-authority-table {
        thead {
            font-weight: bolder;
            background-color: #eee;
            tr {
                td {
                    &.pick-all {
                        text-align: center;
                    }
                }
            }
        }
        tbody{
            tr {
                td {
                    vertical-align: middle;
                    border: none;
                    &.pick {
                        text-align: center;
                    }
                    &.memo {
                        .memo-container {
                            width: 100px;
                            display: inline-block;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
        }
    }
}

.dev {
    select#dev-types {
        width: 30%;
    }
    table.dev-table {
        thead {
            font-weight: bolder;
            background-color: #eee;
        }
        tr {
            td{
                vertical-align: middle;
                border: none;
                &:nth-child(1){
                    width: 5%;
                }
                &:nth-child(2){
                    width: 25%;
                }
                &:nth-child(3){
                    display: inline-block;
                    //width: 40px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 200px;
                }
                &:nth-child(4){
                    width: 30%;
                }
                //剩余的width全部分配给第四列
                &:last-child{
                    //text-align: right;
                }
            }
        }
    }
}

.devdrug{
    table.devdrug-table {
        thead {
            font-weight: bolder;
            background-color: #eee;
        }
        thead>tr, tbody>tr:not(.loading):not(.non-items) {
            td{
                text-align: center;
                display: inline-block;
                //width: 40px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                vertical-align: middle;
                border: none;
                &:not(:last-child){
                    width: 10%;
                }
                &:last-child{
                    width: 16%;
                }
                .input-parent{
                    border-radius: 4px;
                    border: 1px solid #eee;
                    background-color: #ffffff;
                    &:hover{
                        border: 1px solid #aaa;
                    }
                    input.number{
                        outline-style:none;
                        background-color: #ffffff;
                        border: none;
                        width: 60%;
                        border: none;
                    }
                    i.fa{
                        width: 35%;
                    }
                }
                &.last-td{
                    text-align: right;
                }
            }
        }
    }
}

.dept {
    table.dept-table {
        thead {
            font-weight: bolder;
            background-color: #eee;
        }
        tr {
            td {
                vertical-align: middle;
                border: none;
                &:nth-child(1){
                    width: 5%;
                }
                &:nth-child(2){
                    display: inline-block;
                    //width: 40px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 200px;
                }
            }
        }
    }
}

.dept-dev {
    table.dept-dev-table {
        thead {
            font-weight: bolder;
            background-color: #eee;
        }
        tr {
            td {

                vertical-align: middle;
                border: none;
                &:nth-child(1){
                    width: 10%;
                }
                &:nth-child(3){
                    display: inline-block;
                    //width: 40px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 200px;
                }
            }
        }
    }
}

.dept-dev-pop {
    #dev-types {
        width: 30%;
    }
    table.dept-dev-pop-table {
        thead {
            font-weight: bolder;
            background-color: #eee;
        }
        tr {
            td {

                vertical-align: middle;
                border: none;

                &:nth-child(4){
                    display: inline-block;
                    width: 200px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                //剩余的width全部分配给第四列
            }
        }
    }
}

.statistics {
    table.data {
        thead {
            background-color: #eee;
        }
        td {
            vertical-align: middle;
            border: none;

        }
    }

    .drug-sepplement-detail {
        table.data {
            tbody{
                tr:not(.loading):not(.non-items) {
                    td.overflow-hide {
                        //display: inline-block;
                        width: 80px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }

    .drug-period-expire {
        table.data {
            tr:not(.loading):not(.non-items) {
                td {
                    display: inline-block;
                    //width: 40px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    &:not(:last-child){

                        width: 12.5%;
                    }
                    &:last-child{
                        display: inline-block;
                        //width: 40px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: 8%;
                    }
                }
            }
        }
    }

    .drug-stock-amount {
        table.data {
            tr:not(.loading):not(.non-items):not(.action) {
                td {
                    display: inline-block;
                    //width: 40px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    &:not(:last-child){

                        width: 14.2%;
                    }
                    &:last-child{
                        width: 10%;
                    }
                }
            }
        }
    }

    .drug-retention {
        table.data {
            tr:not(.loading):not(.non-items):not(.action) {
                td {
                    display: inline-block;
                    //width: 40px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    &:not(:last-child){

                        width: 12.5%;
                    }
                    &:last-child{
                        width: 7%;
                    }
                }
            }
        }
    }
}
