<div class="file-row udz-image">
    <div>
        <span class="preview"><img data-dz-thumbnail /></span>
        <div class="dz-progress"><div class="dz-upload" data-dz-uploadprogress></div></div>
    </div>
    <div>
        <div class="dz-error-message" role="alert" data-dz-errormessage></div>
    </div>
</div>
