{{!-- This is used as the file preview template --}}
<div class="udz-multiple-objects" id="files">
</div>
<div class="clearfix"></div>
<div class="udz-action">
    <button type="button" class="btn btn-default fileinput-button">{{{gettext '<i class="fa fa-link"></i> Choose files'}}}</button>
    {{!--<span>{{gettext "Upload illustrate"}}</span>--}}
</div>
