{{!-- This is used as the file preview template --}}
<div class="udz-singleton-image pull-left" id="previews">
    <div class="file-row udz udz-default">
        <div><span class="preview preview-default"><img src="{{defaultImageLocation}}" alt="Default Images"></span></div>
    </div>
</div>
<div class="clearfix"></div>
<div class="udz-action">
    <button type="button" class="btn btn-default fileinput-button">{{{gettext '<i class="fa fa-link"></i> Choose a picture'}}}</button>
    {{!--<span>{{gettext "Upload images illustrate"}}</span>--}}
</div>
