<div class="file-row udz-file">
    <div>
        <div class="icon"><i></i></div>
        <div class="remove"><a title="{{gettext 'Remove Uploaded File'}}" data-dz-remove><i class="fa fa-remove"></i></a></div>
        <div class="info">
            <div class="dz-filename"><span data-dz-name></span></div>
            <div class="dz-size" data-dz-size></div>
        </div>
        <div class="clearfix"></div>
        <div class="dz-progress"><div class="dz-upload" data-dz-uploadprogress></div></div>
    </div>
    <div>
        <div class="dz-error-message" role="alert" data-dz-errormessage></div>
    </div>
</div>
