<table class="table table-striped table-bordered dev-table">
    <thead>
    <tr class="text-center">
        <td class="pick-all"><input class="pick-all-input" type="checkbox" checked="checked"></td>
        <td class="text-left"></td>
        <td class="text-left">{{gettext 'MAC'}}</td>
        <td class="dev">
            {{gettext 'Dev name'}}
        </td>
    </tr>
    </thead>
    <tfoot>
        <tr><td colspan="4"></td></tr>
    </tfoot>
    <tbody>
        <tr class="loading"><td colspan="4"><p>{{gettext 'Now Loading...'}}</p></td></tr>
        <tr class="non-items"><td colspan="4"><p>{{gettext 'Non Items'}}</p></td></tr>
    </tbody>
</table>
