<table class="table table-striped dept-dev-pop-table">
    <thead>
        <tr>
            <td class="picker"><input class="picker-input" type="checkbox"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tfoot>
    <tr><td colspan="4"></td></tr>
    </tfoot>
    <tbody>
    <tr class="loading"><td colspan="4"><p>{{gettext 'Now Loading...'}}</p></td></tr>
    <tr class="non-items"><td colspan="4"><p>{{gettext 'Non Items'}}</p></td></tr>
    </tbody>
</table>
