<table class="table table-striped table-bordered groups">
    <tfoot>
    <tr>
        <td colspan="2"></td>
    </tr>
    </tfoot>
    <tbody>
    <tr class="loading"><td colspan="2"><p>{{gettext 'Now Loading...'}}</p></td></tr>
    <tr class="non-items"><td colspan="2"><p>{{gettext 'Non Groups Items'}}</p></td></tr>
    </tbody>
</table>
<ul id="pagination" class="pagination pagination-sm"></ul>
