<table class="table table-striped mail">
    <tbody>
        <tr>
            <td>
                <i class="fa fa-star fa-lg"></i>
            </td>
            <td>
                {{gettext 'Default mail'}}<br>
                {{gettext 'Default email'}}
            </td>
            <td>
                {{gettext 'Forward to'}}<br>
                {{gettext 'Default email'}}
            </td>
        </tr>
    </tbody>
</table>
