<div class="container roles">
    <div class="panel panel-content">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-9 col-md-9">
                    <h3>
                        {{gettext 'Roles detail'}}
                    </h3>
                </div>
                <div class="col-lg-3 col-md-3">
                    <h5>
                        {{gettext 'Info role title'}}
                    </h5>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-9 col-md-9">
                    <div class="tab-content">
                        <div class="role-info-page">
                        </div>
                    </div>
                </div>
                <div class="group-help col-lg-3 col-md-3 text-muted">{{{gettext 'Info role help document'}}}</div>
            </div>
        </div>{{! panel-body end}}
    </div>{{! panel end}}
    <div class="confirm-layer"></div>
</div>