<td class="corporation avatar"><i class="fa fa-building"></i></td>
<td class="corporation informations">
    <a href="/corporations/{{id}}" class="to-corporationinfo-view">{{{name}}}</a><br>
    {{#if memo}}<span class="text-muted">{{{memo}}}</span>{{/if}}
</td>
<td class="text-right">
</td>
