<table class="table table-striped table-bordered search">
    <thead>
    </thead>
    <tfoot>
    </tfoot>
    <tbody>
        <div class="now-search">
            <h4>{{gettext "nowSearch"}}</h4>
        </div>
        <div class="no-search">
            <h4>{{gettext "noSearchResult"}}</h4>
        </div>
    </tbody>
</table>
<ul id="pagination" class="pagination pagination-sm"></ul>