<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="pick">{{#isPermitted 'tickets:restore'}}<input type="checkbox" class="picker">{{/isPermitted}}</th>
            <th colspan="5">
                {{#isPermitted 'tickets:restore'}}<button id="recovery" class="btn btn-default btn-xs pickact" disabled="disabled">{{gettext "Restore"}}</button>{{/isPermitted}}
            </th>
        </tr>
    </thead>
    <tfoot>
        <tr><td colspan="6"></td></tr>
    </tfoot>
    <tbody>
        <tr class="loading"><td colspan="6"><p>{{gettext 'Now Loading...'}}</p></td></tr>
        <tr class="non-items"><td colspan="6"><p>{{gettext 'Non Items Deleted Tickets'}}</p></td></tr>
    </tbody>
</table>
<ul id="pagination" class="pagination pagination-sm"></ul>